## Ch08 딕셔너리와 셋

## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서 없다. => 인덱싱 불가능
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: 'dict()'
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음.
        - a: 1, a: [1,2,3,4]

In [1]:
a = [1, 2, 3]
a[0] # 이러한 인덱싱이 딕셔너리는 불가능하다.

1

In [34]:
empty = dict()
empty = {} # dict type
empty = set() # set type
type(empty)

set

In [4]:
a = {1, 2, 3} # set
a = {1: 'apple', 2: 'banana', 3: 'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [5]:
b = {'': '', '': '', '':''}
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [1]:
# 출석부로 딕셔너리 만들기
# 이름과 학과는 중복가능하므로 학번을 키로 잡아야한다.
"""
이름, 학번 학과
james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과
"""
{202201: ['james', '경제학과'], 202202: ['louis', '컴공과'], 202203: ['laura', '스페인어과']}

{202201: ['james', '경제학과'],
 202202: ['louis', '컴공과'],
 202203: ['laura', '스페인어과']}

### 형변환

In [12]:
ex1 = [[1, 2], [2, 3], [3, 4]] # 리스트 가능. 페어가 있기 때문.
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [16]:
ex2 = [(1, 2), (2, 3), (1, 3)] # 튜플 가능. but 키는 중복되지 않으므로 마지막의 1의 값이 나오게 된다. 1: 2 삭제됨.
dict(ex2)

{1: 3, 2: 3}

In [17]:
ex3 = ['ab', 'bc', 'cd'] # 문자열의 경우 두자리의 경우 가능.
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [3]:
pythons = { # 성: 이름
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [19]:
pythons['Idle'] # 인덱싱이 불가능하기 때문에 'pythons[2]'같은 방식으로 찾기 불가능.

'Eric'

In [20]:
pythons['Hwa'] = 'Chloe' # 추가

In [22]:
pythons['Idle'] = 'James' # 변경
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [23]:
# 예외 없이
# 1. in
'Hwa' in pythons

True

In [24]:
# 2. get()
pythons.get('Lee', 0) # 없는 키는 None 변환. (,0)와 같이 원하는 값 반환하게 할 수 있다.

0

### 전체 조회
- keys()
- values()
- items()

In [4]:
pythons.keys() # 키만 조회. 타입은 deict_keys타입임.

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin'])

In [5]:
type(pythons.keys())

dict_keys

In [26]:
pythons.values() # 값만 조회.

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [27]:
pythons.items() # (키, 값) 튜플 형태로 => 순회 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [28]:
list(pythons.keys()) # 타입은 deict_keys타입이므로 사용하기 위해서는 리스트로 만들어줘서 사용해야함.

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [29]:
for k, v in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [30]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [31]:
[k[0] for k in pythons.items()] # itmes는 튜플의 형태로 들어있기 때문에 각각의 원소 인덱스로 접근 가능. 0=key, 1=value.

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [32]:
[k for k in pythons] # keys

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex01
animal: num_leg 딕셔너리 만드시오.

In [10]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

# 1.
num_leg = {}
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
    
# 2.
num_leg = {}
for x, y in zip(animal, legs):
    num_leg[x] = y
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

### ex02
Q. pythons 에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이루어진 튜플(성, 이름) 리스트로 변환하기
- dict comprehension 쓰지 말기

In [12]:
pythons
# 순회한다
# 각 요소 변화

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [11]:
# [(), ()] => items()
[(k[0], len(v)) for k, v in pythons.items()]
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

### 값 수정, 삭제, 복제 비교

In [54]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [56]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [57]:
# 수정 1
# .update()
# dict + dict. 마지막에 추가됨.
pythons.update(others) # 리스트에선 extend.

In [58]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [59]:
# 수정 2
# py 3에서만 가능.
{** others, ** pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [60]:
# 삭제 1
del pythons['Hwa']

In [61]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [62]:
del pythons['Lee'] # 없는 값을 삭제하면 에러

KeyError: 'Lee'

In [63]:
# 삭제 2
pythons.pop('Marx')

'Groucho'

In [64]:
pythons.pop('Lee', 0) # 없으면 에러 발생, 예외 시 출력 값을 지정할 수 있다.

0

In [65]:
# 삭제 3
# 전체 삭제
pythons.clear()
pythons = {} # 빈 딕셔너리 설정.

In [66]:
pythons

{}

### 복제
- 할당: b = a # 같은 주소를 참조.
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy()

In [67]:
# 할당
a = {1:1, 2:2, 3:3}
b = a # 할당. 같은 주소를 참조 -> a가 변하면 b도 변함.
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [68]:
# 얕은 복사
c = a.copy() # a와 다른 객체가 됨.
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [69]:
a = {1: [1, 2, 3], 2: [2, 3, 4]} # (리스트는 가변 객체) 가변 객체일 때 얕은 복사를 하면 똑같이 참조. 따라서 깊은 복사 해야함.
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [71]:
# 깊은 복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다만 된다. (크다, 작다 안됨.)

In [72]:
a != b

True

### ex
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'](x)
4. sorted이용해서 값 정렬하기
    1. key
    2. value

In [14]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()
solar = {}
for i in range(len(solar_kor)):
    solar[solar_kor[i]] = solar_eng[i]
solar['명왕성'] = 'pluto'
for k in list(solar.keys()):
    if not k[-1] == '성':
        solar.pop(k)
        
solar

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [15]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system['명왕성'] = 'pluto'
dict([(k, system[k]) for k in system if k.endswith('성')])
dict([(k, v) for k, v in system.items() if k.endswith('성')]) # 하지만 리스트를 하고 딕셔너리하는 것 비효율적 -> 딕셔너리 컴프리헨션

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [16]:
{k: v for k, v in system.items() if k.endswith('성')} # 딕셔너리 컴프리헨션

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### 컴프리헨션

In [101]:
letter = 'apple'
# a:1, p:2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [105]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'


# vowels 순회
{k: word.count(k) for k in set(word) if k in vowels}

{'a': 2, 'i': 1, 'o': 4, 'e': 1}

In [104]:
# word 순회
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

#### sorting

In [17]:
sorted(system) # 키만 출력

['금성', '명왕성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [19]:
def fx(x):
    return x[1] # 0이면 키를 기준으로 정렬. 1이면 값을 기준으로 정렬
sorted(system.items(), key=fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [111]:
sorted(system.items(), key=lambda x:x[1])
# lamda: 익명함수. def에서 이름 붙이고 return 다 빼버린 형태.

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- "중복이 없다."
- 집합과 같은 개념. => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [1]:
empty = set() # {} x. 이건 딕셔너리임.
empty

set()

In [2]:
a = {1, 2, 3} # 값이 있으면 그냥 {}안에 넣으면 됨.
a

{1, 2, 3}

In [20]:
a = set(1, 2, 3) # 이 안에는 시퀀스이기 때문에 자료형(튜플 or 리스트)으로 묶어줘야한다.

TypeError: set expected at most 1 argument, got 3

In [3]:
a = set((1, 2, 3)) # 선언, 형 변환
a

{1, 2, 3}

In [4]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [5]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [16]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)
        
# vodka는 있지만 cream, vermouth 없는 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v and not('cream' in v and 'vermouth' in v):
        print(k)

martini
black russian
white russian
screwdriver
black russian
screwdriver

In [20]:
# set 활용해서 바꾸기
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
# 교집합| intersection
a.intersection(b)
a & b

# 합집합| union
a.union(b)
a | b

# 차집합| difference
a.difference(b)
a - b != b - a # 순서 있음.

In [21]:
# issubset
{s for s in range(5)} # 셋 컴프리헨션 있음.

{0, 1, 2, 3, 4}

In [22]:
# frozenset: 가변객체를 
set([1, 2])
frozenset([1,2])

frozenset({1, 2})