## Ch02. Variable
- string (str)
- float
- integer (int)
- boolean (bool)

여러 이름 동시에 할당

In [1]:
three = tres = 3 # 할당 순서는 가장 뒤에서 부터 tres-three 순으로 할당됨.
print(three, tres)

3 3

In [4]:
three = 6 #integer는 불변객체이므로 바뀌지 않는다. id는 서로 달라진다.
print(three, tres)
id(three), id(tres)

6 3

(2287437310416, 2287437310320)

In [8]:
p = [3, 4, 5] # list는 가변객체이므로 바뀐다.
q = p
p, q
id(p), id(q)

(2287517487488, 2287517487488)

In [7]:
p[0] = 6
print(p, q)
id(p), id(q)

[6, 4, 5] [6, 4, 5]

(2287517545280, 2287517545280)

### 자료형 변환, 형 변환
- int(<변환할 값>)
- float()
- str()
- bool() (어떤 값이 false로 바뀌는지만 기억!)

In [10]:
a = 10

#int
int(a)

10

In [11]:
#float
float(a)

10.0

In [12]:
#str
str(a)

'10'

In [13]:
#bool
bool(a)

True

- 주의할 점1: float -> int
    - 소수점 내림된다.

In [14]:
x = 12.5
int(x)

12

- 주의할 점2: str -> int/float
    - int/float로 기대되는 str을 형 변환하면 int/float으로 변환됨.
    - 하지만 integer와 맞지 않는 str를 변환하면 오류 발생.

In [15]:
x = '5'
int(x), float(x)

(5, 5.0)

In [16]:
x = '5.5'
int(x)

ValueError: invalid literal for int() with base 10: '5.5'

### 꿀팁

#### 좋은 변수명
- 간결, 명확한 이름
- 의미 담겨야함.
- 코드: 의미 / 주석: 의도
    - ex) n (x) < the_number_of_students (오타날 확률있음) < num_students (파이썬에선 주로 이렇게 사용)
    - 카멜표기법: numStudents (자바에서 주로 사용)

#### Print()

In [17]:
red = 'red'
blue = 'blue'
green = 'green'

print(red + blue + green) # space x, \n
print(red, blue, green, sep=' ', end='\n') # default임.
print(f'My favorite color is {red}.')

redbluegreen
red blue green
My favorite color is red.

#### 코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [18]:
red = 'red'; blue = 'blue'; green = 'green'
red, blue, green

('red', 'blue', 'green')

### input()
- console에서 사용자가 입력하는 값을 받음.
- 입력받는 값은 문자열로 인식.
- 숫자로 받고 싶다면 형 변환해야 함.

In [19]:
a = input()
print(a)

 10

'10'

In [20]:
a = int(input())
print(a)

 10

10

#### 변수에 할당하는 법

In [23]:
#1.
name = input('이름이?')

이름이? 박은상

In [24]:
#2.
print('이름이?')
name = input()

이름이?

 박은상

## Ch03. Numbers

### boolean
- 형 변환할 때 True인지 False인지 잘 기억해라
    - '', none, 0, ... (false)
- 조건문에서 많이 사용. 
    - ex) 만약 이 조건이 true라면...

In [26]:
bool(1), bool(0)

(True, False)

### integer
- 소수점 없음.
- 양수가 default, 음수는 앞에 - 붙임.
- 숫자 앞에 0 올 수 없음. 
    - ex) 04
    - 예외로 10진수 외에 다른 진수를 표현할 때: 0bxxx
- 리터럴: 4
- 공백이 있어도 무시.
    - ex) 5 + 4         -3 이렇게 해도 계산이 된다.
- 10,000원 -> 10, 100원 두개로 인식. 따라서 '_'를 사용해야함.
    - ex) 10_000원

### 연산
- 연산자|operator: +,-, *, /
- 피연산자|operand: 4, 5
- 수식|expression

In [27]:
x = 4
y = 5

x + y
x - y
x * y
x / y

# 거듭제곱|exponential
x ** y

1024

#### 나눗셈에서 주의할 사항

In [29]:
#1. 0으로 나누는 것 주의 (y!=0)
#2. 몫, 나머지
x // y, x % y, x / y # //몫, %나머지
#3. divmod(x, y) (x // y, x % y)
divmod(x, y)

(0, 4)

### 복합 대입연산자| compound assignment operator
- a += 3 (a = a + 3)
- a -= 3
- a *= 3
- a /= 3

In [30]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a - 3
#3. a = a-3

In [31]:
u = u + 1

NameError: name 'u' is not defined

In [32]:
# u의 값이 설정이 안되어있기 때문에 u 값 초기화 해야함.
u = 7
u = u + 1

### 지수 표현
- e, E 둘 다 가능
- 앞부분은 float, int
- 뒷부분은 int만 온다.
     - 양수면 0 앞으로
     - 음수면 0 뒤로 (소수점)

In [33]:
1.0e6 # float

1000000.0

In [34]:
# 0.000789 => 지수 표현
789.0e-6

0.000789

## Ch04. if

### 코드 짜는 룰
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도 표현.
    - '#' hash, sharp, ...
    - 시작된 부분부터 그 라인의 끝까지 주석
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - 여러줄을 주석으로 하고 싶을 때: """<주석>"""
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 백슬리시로 끊어준다 (\)

### 조건 1개
if <조건식>;
    <실행할 코드>

### 조건 2개:
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드2>

### 조건이 3개 이상:
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드3>
        ...
    else:
        <실행할 코드2>

### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y

### 논리연산자
- 여러 조건식을 비교할 때
- 예: 5 < x < 9
    - 파이썬에서만 가능한 표현
    if 5 < score < 9
    - x > 5 혹은 x < 9
    
- and, & : 둘 다 참일 때 True
- or, | : 둘 중 하나만 참이여도 True
- not : 참 -> False, 거짓 -> True